<form class="login-form">
    <div>
        <label for="email-login">Email</label>
        <input type="text" id="email-login" name="email-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<a href="/signup">Signup Instead</a>

<script src="/js/login.js"></script>